@import "../../variable";
.wrap-slider{
  .ant-slider-track {
    background-color: $color-grey;
  }
  .ant-slider-handle {
    border: 2px solid $color-grey;
    &:focus {
      border-color: $color-grey
    }
  }
  .ant-slider-handle.ant-tooltip-open {
    border-color: $color-grey;
  }
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: $color-grey;
  }
  .ant-slider:hover .ant-slider-track{
    background-color: $color-grey;
  }
  .currency {
    font-weight: bold;
    color: $color-black;
  }
}
