@import "../../variable";

.store_header {
  justify-content: center;
  display: flex;
  background: #515154 !important;
  .store_header_wrapper {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    .header_menu {
      min-width: 76%;
      background-color: transparent;
      color: $--e-global-color-4f69900;
      .ant-menu-item {
        padding: unset;
        top: 0;
        .ant-menu-title-content {
          font-size: 15px;
          padding: 0 22px;
          text-transform: capitalize;
        }
        &:hover,
        &.ant-menu-item-selected {
          color: #fff;
          background-color: #3f3f3f;
          &::after {
            display: none;
          }
        }
        &::after {
          display: none;
        }
      }

      border-bottom: none;
    }
    .header_logo {
      display: flex;
      align-items: center;
      margin-right: 22px;
      cursor: pointer;
    }
    .header_action_list {
      display: flex;
      text-align: center;
      align-items: center;
    }
  }
  @media only screen and (max-width: 600px) {
    .header_menu {
      display: none;
    }
  }
}
