.store_carousel {
  width: 100%;
  height: 100%;
  position: relative;
  .carousel_content {
    height: 100%;
  }
  .carousel_control_prev,
  .carousel_control_next {
    background: rgba(204, 204, 206, 0.71);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 45%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: #515154;
    }
    z-index: 100;
  }
  .carousel_control_prev {
    left: 40px;
  }
  .carousel_control_next {
    right: 40px;
  }

  .store_carousel_item {
    width: 100vw;
    height: 375px;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    color: RGBA(0, 0, 0, 0);
  }
}
