@import "../../variable";
.store_subscriber {
  height: 250px;
  min-height: 250px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .store_subscriber_title {
    color: $color-black;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }
  .store_subscriber_description {
    color: $color-black;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  .store_subscriber_form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    .subscriber_input {
      margin-bottom: 0;
      input {
        height: 40px;
        border-radius: 20px;
        width: 500px;
      }
    }
    .store_subscriber_submit_btn {
      font-family: "SF Pro Text", Arial;
      font-size: 15px;
      font-weight: 500;
      background-color: $color-blue;
      color: #fff;
      height: 40px;
      padding-left: 60px;
      padding-right: 60px;
      border-radius: 20px;
      margin-left: 5px;
    }
  }
  @media only screen and (max-width: 600px) {
    .store_subscriber_form {
      .subscriber_input {
        input {
          width: 200px;
        }
      }
      .store_subscriber_submit_btn {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
