.app {
  min-height: 100vh;
}
.d-none {
  display: none !important;
}
body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
.container {
  max-width: 1200px;
}
.heading_title {
  color: #d2d2d7;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}
.content_d2d2d7 {
  color: #d2d2d7;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.content_7a7a7a {
  color: #7a7a7a;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}
.divide_424245 {
  background: #424245;
}
.mb_0 {
  margin-bottom: 0 !important;
}
.mb_50 {
  margin-bottom: 50px !important;
}
.mb_60 {
  margin-bottom: 60px !important;
}
.capitalize {
  text-transform: capitalize;
}
