$color-blue: #0066cc;
$color-grey: #4b4b4b;
$color-black: #1d1d1f;
$color-white: #ffffff;
$color-header: #d2d2d7;
$color-background-drawer: #f5f5f7;
$background-header: #515154;
$background-search-bar: #1d1d1f;
$background-footer: #1d1d1f;
$color-text-footer: #d2d2d7;
$color-border: #424245;
