$--e-global-color-ab81b1d: #0066cc;
$--e-global-color-5f8e7ea: #4b4b4b;
$--e-global-color-e5ebd69: #1d1d1f;
$--e-global-color-d3a2d5f: #515154;
$--e-global-color-70b6c78: #1d1d1f;
$--e-global-color-9106f89: #f2f2f2;
$--e-global-color-4f69900: #d2d2d7;
$--e-global-color-7838a50: #feb700;
$--e-global-color-b1bb715: #bf4800;
$--e-global-color-67cf217: #339901;
$--e-global-color-d34575e: #ffffff;
$--e-global-color-e482884: #f5f5f7;
$--e-global-color-e0e902a: #f2f2f2;
$--e-global-color-6923cf0: #f2f2f7;
$--e-global-color-3efbb36: #f46813;
$--e-global-color-65f13e6: #4b4b4b;
$--e-global-typography-primary-font-weight: normal;
$--e-global-typography-secondary-font-weight: 400;
$--e-global-typography-text-font-weight: 400;
$--e-global-typography-accent-font-weight: 500;
$--e-global-typography-5bd1b46-font-size: 36px;
$--e-global-typography-5bd1b46-font-weight: bold;
$--e-global-typography-5bd1b46-line-height: 54px;
$--e-global-typography-e9db24e-font-weight: normal;
$--e-global-typography-7b7da71-font-weight: normal;
$--e-global-typography-c408313-font-size: 24px;
$--e-global-typography-c408313-font-weight: bold;
$--e-global-typography-c408313-line-height: 36px;
$--e-global-typography-8906f80-font-size: 18px;
$--e-global-typography-8906f80-font-weight: bold;
$--e-global-typography-8906f80-line-height: 27px;
$--e-global-typography-d3ce756-font-weight: bold;
$--e-global-typography-59bf1c6-font-size: 15px;
$--e-global-typography-59bf1c6-font-weight: bold;
$--e-global-typography-59bf1c6-line-height: 21px;
$--e-global-typography-878aa64-font-weight: normal;
$--e-global-typography-430ab50-font-weight: normal;
$--e-global-typography-f439ae9-font-weight: bold;
$--e-global-typography-86bc238-font-weight: normal;
$--e-global-typography-aea778c-font-weight: bold;
$--e-global-typography-d4f56ac-font-weight: normal;
